/* zeroing out css */
/* remove box sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* remove margin*/
body,
h1,
h2,
h3,
h4,
p,
li,
dl,
dd {
  margin: 0;
}
/* img style default */
img {
  max-width: 100%;
  display: block;
}
/* setting fonts for inputs and buttons*/
button,
input,
textarea {
  font: inherit;
}